/* Hiệu ứng ảnh */
.chapter-image.loaded {
  opacity: 1;
  min-height: auto !important;
  background-color: transparent !important;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.chapter-image {
  transition: opacity 0.3s ease-in-out;
}

.chapter-image.opacity-100 {
  opacity: 1;
}

/* Popup styles */
.chapter-list-popup-enter {
  opacity: 0;
}

.chapter-list-popup-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.chapter-list-popup-exit {
  opacity: 1;
}

.chapter-list-popup-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
} 